<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Flask-SocketIO-Chat</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script type="text/javascript" charset="utf-8">

            var socket;
            $(document).ready(function(){

                $('#h1_name')[0].innerText = ($('#h1_name')[0].innerText + ': ' + sessionStorage.getItem('my_id'));
                get_all_friend();
                socket = io.connect('http://127.0.0.1:5000/chat');

                socket.emit('user_login', {my_id: sessionStorage.getItem('my_id')});
                socket.on('user_login_success', function (data) {
                    console.log(data)
                });
                socket.on('status', function(data) {
                    room_id = data.room_id;
                    friend_id = sessionStorage.getItem('friend_id');
                    if (data.msg === "join"){
                        $('#h1_name')[0].innerText = "chat with: " + friend_id;
                    }
                });
                socket.on('message', function(data) {

                    $('#chat').val($('#chat').val() + data.from_user_id + ': ' + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

               socket.on('res_new_msg', function (data) {
                    console.log(data);
                    get_all_friend();
               });

                $(document).on('click', '.chatButton', function () {
                    friend_id = $(this).parents("tr").find(".friend_id").text();
                    console.log("friend_id: " + friend_id);
                    sessionStorage.setItem("friend_id", friend_id);
                    enter_room();
                    console.log('lalalalla, 我进房间啊啦');
                    socket.emit('joined', {my_id: sessionStorage.getItem('my_id'), friend_id: sessionStorage.getItem("friend_id")});
                });

                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        console.log(text);
                        $('#text').val('');
                        socket.emit('text', {msg: text, my_id: sessionStorage.getItem('my_id'), friend_id: sessionStorage.getItem("friend_id")});
                    }
                });

            });

            function leave_room() {
                socket.emit('left', {my_id: sessionStorage.getItem('my_id'), friend_id: sessionStorage.getItem("friend_id")});
                $('#chat').val('');
                sessionStorage.removeItem('friend_id');
                console.log('离开房间');
                $('#h1_name')[0].innerText = ('Flask-SocketIO-Chat' + ': ' + sessionStorage.getItem('my_id'));

            }

            function enter_room() {
                $.ajax({
                    type: 'GET',
                    url: 'http://127.0.0.1:5000/user/' + sessionStorage.getItem('my_id') + '/friend/' + sessionStorage.getItem('friend_id') + '/room',
                    dataType: 'json',
                    crossDomain: true,
                    success: function (res) {

                        if (res.code == 2000){
                            console.log(res);
                            ls = res.params;
                            for (var i = 0; i < ls.length; i++){
                                $('#chat').val($('#chat').val() + ls[i].from_user_id + ': ' + ls[i].msg + '\n');
                            }
                            $('#chat').scrollTop($('#chat')[0].scrollHeight);

                            get_all_friend();

                        }
                    }
                });


            }

            function get_all_friend() {
                $.ajax({
                    type: 'GET',
                    url: 'http://127.0.0.1:5000/user/' + sessionStorage.getItem('my_id') + '/list',
                    dataType: 'json',
                    crossDomain: true,
                    success: function (res) {
                        console.log(res);
                        if (res.code == 2000){
                            ls = res.params;
                            var html = '';
                            console.log('好友列表');
                            $('#newList').children('tr').remove();
                            for (var i = 0; i < ls.length; i++){
                                html = html + '<tr id1="##1">' +'<td class="idx">' + i + '</td>'
                                            + '<td class="friend_id">' + ls[i].friend_id + '</td>'
                                            + '<td class="msg_count">' + ls[i].new_msg_count + '</td>'
                                            + '<td><button type="button" class="chatButton">聊天</button> </td>'
                                            + '</tr>';
                            }
                            //
                            $('#newList').append(html);
                        }
                    }
                })

            }

        </script>
    </head>
    <body>
        <h1 id="h1_name">Flask-SocketIO-Chat</h1>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <a href="#" onclick="leave_room();">Leave this room</a>
        <div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>好友名</th>
                            <th>新消息数</th>
                        </tr>
                    </thead>
                    <tbody id="newList"></tbody>
                </table>
            </div>
        </div>
    </body>
</html>
