<html>
    <head>
        <title>Flask-SocketIO-Chat: {{ my_id }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){

                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                {#ls_socket = io.connect('http://' + document.domain + ':' + location.port + '/list');#}
                console.log('http://' + document.domain + ':' + location.port + '/chat');
                socket.emit('get_friend_msgs', {});

                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {

                    $('#chat').val($('#chat').val() + data.from_user_id + ': ' + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('res_get_friend_msgs', function (data) {
                    console.log(data);
                    ls = data.params;
                    var html = '';
                    for (var i = 0; i < ls.length; i++){
                        html = html + '<tr id1="##1">' +'<td class="idx">' + i + '</td>'
                            + '<td>' + ls[i].friend_id + '</td>'
                            + '<td>' + ls[i].msg_count + '</td>'
                            + '<td><button type="button" class="deleteButton">聊天</button> </td>'
                            + '</tr>';
                    }
                    $('#newList').children('tr').remove();
                    $('#newList').append(html);
                });

                $(document).on('click','.deleteButton',function () {

                    socket.on('connect', function() {
                        socket.emit('joined', {});
                });

                };

                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        console.log(text);
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                        socket.emit('get_friend_msgs', {});
                    }
                });

            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    // go back to the login page
                    window.location.href = "{{ url_for('friend_blueprint.friend_login') }}";
                });
            }

        </script>
    </head>
    <body>
        <h1>Flask-SocketIO-Chat: {{ my_id }}</h1>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <a href="#" onclick="leave_room();">Leave this room</a>
        <div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>好友id</th>
                            <th>新消息数</th>
                        </tr>
                    </thead>
                    <tbody id="newList"></tbody>
                </table>
            </div>
        </div>
    </body>
</html>
