<!doctype html>
<title>{% block title %}{% endblock %} - FLASKR</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>wechat</h1>
    <ul>
        <li><a href="{{ url_for('auth_blueprint.register') }}">Register</a>
        <li><a href="{{ url_for('auth_blueprint.login') }}">Log In</a>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>